body {
    background-color: #c5dfe0;
}

#harry {
    background-color: #a6c5d8;
    justify-content: center;
}
#historia {
    background-color: #a6c5d8;
    justify-content: center
}

h1,
h2 {
    background-color: #8daec3;
    text-align-last: center;
    
}

img {
    width: 300px;
    justify-content: center;
}

#bgdiscografia {
    background-color: #8daec3;
    text-align-last: center;
    
}
